.amount-input {
    border-radius: 0.625em;
    border: 1px solid #5940C1;
    background: #F9F9FA;
    padding: 1em;
    margin-top: 1em;

    &_error {
        border: 1px solid #FF6871;
    }

    &_error-text {
        color: #FF6871;
        font-family: Nunito-Sans-Regular !important;
        font-size: 0.825rem !important;
        font-style: normal;
        line-height: normal;
    }

    &_header {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.125em;

        &_text {
            color: #373737;
            text-align: justify;
            font-family: Nunito-Sans-Regular !important;
            font-size: 0.875em !important;
            font-style: normal !important;
            line-height: normal !important;
        }
    }

    &_input {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;

        &_text {
            color: #5940C1;
            text-align: justify;
            font-family: Nunito-Sans-Bold !important;
            font-size: 1.75em !important;
            font-style: normal;
            line-height: normal;
            margin: 0 !important;
            padding: 0 !important;

            &_symbol {
                color: #373737;
            }
        }
    }

    &_buttons {
        display: flex !important;
        flex-direction: row-reverse !important;
        justify-content: space-between;
        align-items: center;

        &_text {
            color: #373737;
            text-align: center;
            font-family: Nunito-Sans-Regular !important;
            font-size: 0.875em !important;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 5px;
            border: 0.5px solid #373737;
            padding: 0 0.25em;

            &:hover {
                cursor: pointer;
                background-color: #f2f0fc;
            }

        }

        &_text-unlock {
            color: #5940C1;
            text-align: center;
            font-family: Nunito-Sans-Regular !important;
            font-size: 0.875em !important;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 5px;
            border: 0.5px solid #5940C1;
            padding: 0 0.25em;

            &:hover {
                cursor: pointer;
                background-color: #f2f0fc;
            }

            &_disabled {
                pointer-events: none;
            }
        }
    }
}