@font-face {
    font-family: Nunito-Sans-Bold;
    src: url("../../../../assets/fonts/Nunito-Sans/NunitoSans-Bold.ttf") format("truetype"),
}

@font-face {
    font-family: Nunito-Sans-Regular;
    src: url("../../../../assets/fonts/Nunito-Sans/NunitoSans.ttf") format("truetype"),
}

.auction-signer {
    background-color: #F9F9FA;
    padding: 2em 1em;
    flex: 1;

    &_container {
        max-width: 65em;
        margin: 0 auto;
    }

    &_title {
        font-family: Nunito-Sans-Bold !important;
        font-size: 0.875rem !important;
        color: #000000 !important;
    }

    &_main {
        margin-top: 1em;
        margin-bottom: 3em;
        border: 1px solid #5940c1;
        border-radius: 0.5em;
        background-color: #FFFFFF;
        height: fit-content;

        &_wrapper {
            display: flex;
            flex-direction: row;
            margin: 1em;
        }

        &_auction-id {
            width: 100% !important;

        }

        &_auction-id-wrapper {
            margin-bottom: 0rem !important;
        }

        &_addresses {
            margin: 2em 1em 1em 1em !important;
        }

        &_button {
            background-color: #5940c1;
            color: #FFFFFF;
            border-radius: 0.5em;
            width: 10em;
            border: none;
            height: 3em;
            font-size: 0.875rem;
            font-family: Nunito-Sans-Bold;
            margin-top: 0.5em;
            cursor: pointer;
            
            &_wrapper {
                display: flex;
                justify-content: flex-end;
                margin: 0 3rem 1.5rem 0;
            }
        }
    }

    &_network-select {
        border-radius: 0.625rem !important;
        border: 1px solid #B9B0ED !important;
        margin-right: 1rem !important;
        margin-top: 0 !important;
    }

    &_whitelist {
        margin-top: 1em;
        margin-bottom: 3em;
        border: 1px solid #5940c1;
        border-radius: 0.5em;
        background-color: #FFFFFF;
        min-height: 20rem;

        &_addresses {
            min-width: 8em !important;
            margin-right: 1em !important;
        }

        &_list {
            margin-top: 2em;

            &_child {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1em;

                &_id {
                    font-size: 0.875rem !important;
                    font-family: Nunito-Sans-Bold !important;
                }

                &_text {
                    font-size: 0.875rem !important;
                    font-family: Nunito-Sans-Regular !important;
                }
            }
        }

        &_table {
            margin-top: 2em;
            padding-bottom: 1em;

            &_search {
                border-bottom: 0;
            }

            &_header {
                padding: 0.5em 2em;
                background-color: #EAE7FA;
            }

            &_title {
                font-size: 0.875rem !important;
                font-family: Nunito-Sans-Bold !important;
            }

            &_rows {
                padding: 0 2em;
                border-bottom:  1px solid #B9B0ED;
            }

            &_entry {
                padding: 1.5em 0;
                font-size: 0.875rem !important;
                font-family: Nunito-Sans-Regular !important;
            }
        }
    }
}

.MuiAutocomplete-input {
    height: 10em !important;
}

.MuiOutlinedInput-input {
    color: #5940c1 !important;
    font-family: Nunito-Sans-Regular !important;
    font-size: 0.875rem !important;
}

.MuiMenuItem-root {
    color: #5940c1 !important;
    font-family: Nunito-Sans-Regular !important;
    font-size: 0.875rem !important;
}

.MuiInputLabel-root {
    color: #5940c1 !important;
    font-family: Nunito-Sans-Regular !important;
    font-size: 0.875rem !important;
}