.footer-landing {
    background-color: #180B2D !important;
    padding: 1em 0 2em !important;

    &_first {
        font-weight: 700 !important;
        margin-top: 0.5em !important;

        @media only screen and (min-width: 640px) {
            margin-top: 0 !important;
        }
    }

    &_root {
        padding: 0 1em 2em !important;
        @media only screen and (min-width: 640px) {
            padding-left: 5em !important;
        }
        border-bottom: 1px solid #B9B0ED !important;
    }
    
    &_container {
        width: fit-content !important;
        margin: 0 auto !important;
        padding-bottom: 2em;

        &_title {
            font-weight: 700 !important;
        }

    }

    &_heading {
        margin: 1em 0 0.5em !important;
        font-weight: 700 !important;

        &_special {
            color: #0DD36B !important;
        }
    }

    &_details {
        margin-top: 0.5em !important;
        font-weight: 700 !important;
    }

    &_image_container {
        display: flex;
        justify-content: center;
    }

    &_button_container {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        gap: 15%;

        &_button {
            font-weight: 700 !important;
        }
    }
}