.switch-input {
  &_title {
    font-family: Nunito-Sans-Bold !important;
    font-size: 0.875rem !important;
    display: flex !important;
    gap: 0.5em !important;
    margin-top: 1em !important;
  }
}
