@font-face {
    font-family: Nunito-Sans-Bold;
    src: url("../../../../assets/fonts/Nunito-Sans/NunitoSans_7pt-Bold.ttf") format("truetype"),
}

@font-face {
    font-family: Nunito-Sans-Regular;
    src: url("../../../../assets/fonts/Nunito-Sans/NunitoSans_7pt-Regular.ttf") format("truetype"),
}

.featuredAuctionsContainer {
    background-color: #F2F1F9 !important;
    padding: 3em 0;
}

.featuredAuctions {
    background-color: #F2F1F9 !important;
    display: flex;

    &_root {
        max-width: 65em;
        margin: 0 auto;
    }

    &_title {
        padding: 1em 0;
        font-family: Nunito-Sans-Bold !important;
    }

    &_auctions {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}