.ongoing-auctions {
    background-color: #FFFFFF !important;
    padding: 3em 0 2em;

    &_root {
        max-width: 65em;
        margin: 0 auto;
    }

    &_title {
        padding: 1em 0;
        font-weight: 700 !important;
    }

    &_more {
        display: flex;
        justify-content: end;

        &_button {
            font-weight: 700 !important;
            font-size: 0.875rem;
            padding: 1em 3rem;
            background-color: transparent;
            border: solid #B9B0ED 1px;
            border-radius: 0.25em;
            max-width: 25em;
            margin: 1em 0 2em;
            cursor: pointer;
            font-style: normal !important;
            text-transform: none !important;
            color: #000 !important;
        }
    }

    &_auctions {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}