.hero {
    background-color: #180B2D;
    padding: 1em;
    width: '100%';

    &_root {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 3em 0 2em;
    }

    &_heading {
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 700px) {
            width: 55%;
        }
        @media only screen and (min-width: 900px) {
            width: 40%;
        }

        margin-bottom: 0.5em !important;
        font-weight: 700 !important;
        font-size: 1.5rem !important;

        &_special {
            color: #0DD36B !important;
            align-self: flex-start;
            right: 0;
            bottom: 0;
        }
    }

    &_subheading {
        width: 80%;
        @media only screen and (min-width: 640px) {
            width: 65%;
        }
        @media only screen and (min-width: 800px) {
            width: 45%;
        }

    }

    &_container {
        margin: 1.5em 0 !important;
    }

    &_heading-2 {
        font-weight: 700 !important;
    }

    &_button {
        margin: 2em 0;
        border: none;
        border-radius: 1.5em;
        padding: 0.75em 1em;
        background-color: transparent;
        font-weight: 700 !important;
        font-size: 0.75rem;
        color: #FFF;
        background-color: #8B8596;
        cursor: pointer;

        &_special {
            background-color: #8B8596;
        }

        &_root {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }

        &:hover {
            background-color: #2B1759;
        }
    }

    &_description {
        margin: 1em 0 !important;
        padding: 0.75em !important;
        background-color: #5940C1 !important;
        border: none !important;
        border-radius: 0.5em !important;

        &_title {
            font-weight: 700 !important;
        }
    }

    &_margin-left {
        margin-left: 0.5em !important;
    }
}

.hero-docs {
    display: flex;
    margin-top: 1.5em;

    &_root {
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 2em 0 3em;
    }
}