.auction-grid-wrapper {
    border: 1px solid #5940C1;
    border-radius: 0.325em;
    background-color: #fff;
    flex-direction: row;
    padding: 1em;
    display: flex;
    margin: 0 0 1em 0;
    margin-right: 0 !important;
}