.auctionDetails {
  &_header {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &_divider {
    margin: 1em 0;
  }

  &_headerText {
    margin: 0 0 0 1em;
    &_heading {
      font-weight: 700 !important;
      word-spacing: 0.5px !important;
      font-size: 1.75em !important;
      @media (max-width: 30rem) {
        font-size: 1.5em !important;
      }
      @media (max-width: 26rem) {
        font-size: 1.25em !important;
      }
    }

    &_link {
      color: #5940c1;
      font-size: 0.875em !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
    }
  }

  &_summary {
    color: #373737 !important;
    text-align: justify;
    font-size: 0.825rem !important;
    font-style: normal;
    line-height: normal;
    margin: 1rem 0 0.5rem !important;
  }

  &_description {
    padding: 0.75em !important;
    border: none !important;
    border-radius: 0.5em !important;

    &_title {
      font-weight: 700 !important;
    }
  }

  &_timer {
    color: #5940c1;
    text-align: justify;
    font-weight: 700 !important;
    font-style: normal;
    line-height: normal;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_loader {
    height: 2rem;
    width: 12rem;
    margin-left: 0.625rem;
  }
}

.auctionDetails-timer {
  color: #5940c1 !important;
  font-weight: 700 !important;
  font-size: 1.75rem !important;
}
