@font-face {
    font-family: Nunito-Sans-Bold;
    src: url("../../../../assets/fonts/Nunito-Sans/NunitoSans-Bold.ttf") format("truetype"),
}

@font-face {
    font-family: Nunito-Sans-Regular;
    src: url("../../../../assets/fonts/Nunito-Sans/NunitoSans.ttf") format("truetype"),
}

.all_auctions {
  &_root {
    max-width: 65em;
    margin: 0 auto;
  }

  &_title {
      padding: 1em 0;
      font-family: Nunito-Sans-Bold !important;
  }

  &_inner_container {
    border: 0.125rem solid #5940C1;
    padding: 1em 0;
    border-radius: 0.625rem;
  }

  padding: 1.25rem 0 2.5rem;


}

.table{
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  z-index: 51;

  &_cell{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 0.875rem;
    &:last-child {
      position: absolute;
      right: 0.938rem;
      top: 50%;
      transform: translateY(-50%);
    }
      > span {
      align-items: center;
      > *:not(:last-child) {
        margin-right: 0.375rem;
      }
      &:last-child {
        font-size: 0.875rem;
      }
    }
  }

  &_body{
    font-size: 0.875rem;
    min-height: 16.625rem;
    @media (max-width: 56.25rem) {
      > div:first-child {
        position: relative !important;
      }
      > div:not(:first-child) {
        display: none !important;
      }
    }
  }
}

.table_controls{
  margin-bottom: 1.75rem;
  padding: 0.5rem 2rem;
  @media (min-width: 56.25rem) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  @media (max-width: 56.25rem) {
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-bottom: 0.063rem solid #5940C1;
  }
}

.row_css{
  column-gap: 0.375rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  row-gap: 0.938rem;
  border-bottom: 0.063rem solid #5940C1;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  @media (max-width: 56.25rem) {
    padding: 1rem 0;
  }

  @media (min-width: 56.25rem) {
    column-gap: 0.625rem;
    grid-template-columns: 1fr 5rem 1fr 1fr 1fr 1fr 6.25rem 1fr 6.25rem 1.25rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
  }

  @media (min-width: 96rem) {
    grid-template-columns: 5.313rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3.125rem;
  }
}

.row_head{
  @extend .row_css;
  background-color: #EAE7FA;
  border-bottom: 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  pointer-events: none;
  font-size: 0.875rem;
  font-weight: bold;

  @media (max-width: 56.25rem) {
    display: none;
  }

  @media (min-width: 56.25rem) {
    column-gap: 0.625rem;
    grid-template-columns: 1fr 5rem 1fr 1fr 1fr 1fr 6.25rem 1fr 6.25rem 1.25rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
  }
  @media (min-width: 96rem) {
    grid-template-columns: 5.313rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3.125rem;
  }

}

.mobile_header_view{
  font-weight: bold;
  display: none;
  
  @media (max-width: 56.25rem) {
    display: block;
  }
}

.empty_content{
  &_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
    font-size: 0.875rem;
    justify-content: center;
    min-height: 15.625rem;
    width: 100%;
  }

  &_text{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 1rem 0 0 0;
    text-align: center;
  }
}


.search{
  &_wrapper{
    border: 0.063rem solid #B9B0ED;
    border-radius: 0.313rem;
    align-items: center;
    display: flex;
    margin-bottom: 0.75rem;
    max-width: 100%;
    padding: 0.625rem 0 0.625rem 0.563rem;
    width: 35.313rem;
  
    &:focus-within {
      background-color: white;
    }
  
    @media (min-width: 56.25rem) {
      margin-bottom: 0;
    }
  }

  &_input{
    background: white;
    border: none;
    color: #5940C1;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: light;
    margin: 0 0 0 0.625rem;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_delete{
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-shrink: none;
    height: 100%;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0;
    width: 2.375rem;

    &[disabled] {
        opacity: 0.5;
    }
  }   
}

.pagination{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3.125rem;
  padding: 0 0.938rem;

  @media (min-width: 56.25rem) {
    flex-direction: row;
    justify-content: flex-end;
  }

  &_block{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &_text{
    color: black;
    font-size: 0.813rem;
    font-weight: normal;
    white-space: nowrap;
  }

  &_item{
    align-items: center;
    border-bottom: 0.063rem solid white;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: 400;
    height: 2rem;
    line-height: 1.2;
    padding: 0 0.625rem;
    white-space: nowrap;

    &:hover {
      background-color: green; 
    }
  }

  &_break{
    @extend .pagination_text;
    display: none;
    margin: 0 0.75rem;

    @media (min-width: 56.25rem) {
        display: block;
    }
  }

  &_button{
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: auto;
    outline: none;
    padding: 0;
    user-select: none;
    width: 1.563rem;
    white-space: nowrap;
  
    &[disabled],
    &[disabled]:hover {
      cursor: not-allowed;
      opacity: 0.5;
  
      .fill {
        color: grey;
      }
    }
  
    @media (min-width: 56.25rem) {
      height: 1.875rem;
    }
  }
}

.auction_filter_wrapper{
  width: 12.5rem;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 0.063rem !important;
  border-color: #B9B0ED !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #5940C1 !important;
}