@font-face {
    font-family: Nunito-Sans-Bold;
    src: url("../../../assets/fonts/Nunito-Sans/NunitoSans-Bold.ttf") format("truetype"),
}

@font-face {
    font-family: Nunito-Sans-Regular;
    src: url("../../../assets/fonts/Nunito-Sans/NunitoSans.ttf") format("truetype"),
}

.footer {
    background-color: #180B2D !important;
    padding: 1em 0 0 !important;

    &_navbar {
        display: flex;
        margin-top: 1em;
        text-decoration: none !important;
        font-family: Nunito-Sans-Regular !important;
        color: #FFFFFF !important;
        font-size: 0.75rem !important;

        &:hover {
            background-color: #2B1759;
        }

        &_active {
            color: #B9B0ED !important;
        }
    }

    &_container {
        padding-left: 2em !important;
        width: 100% !important;
        margin: 0 auto !important;
    }

    &_item {
        margin-bottom: 2em !important;
    }

    &_title {
        font-family: Nunito-Sans-Bold !important;
        color: #FFFFFF !important;
        font-size: 0.75rem !important;
    }

    &_socials {
        display: flex !important;
        gap: 1.5em !important;
    }
}