.footer {
    background-color: #180B2D !important;
    max-width: 65em !important;
    display: flex !important;
    justify-content: flex-start !important;

    &_navbar {
        display: flex !important;
        margin: 1em auto 0 0 !important;
        text-decoration: none !important;
        color: #FFFFFF !important;
        font-size: 0.75rem !important;

        padding: 0.25rem 0.5rem !important;
        border-radius: 0.5em !important;

        &:hover {
            background-color: #2B1759;
        }

        &_active {
            color: #B9B0ED !important;
        }
    }

    &_container {
        padding-left: 2em !important;
        width: 100% !important;
        margin: 0 auto !important;
    }
    &_item {
        margin-bottom: 2em !important;
        display: flex !important;
        justify-content: flex-start !important;
    }

    &_links {
        flex-direction: column !important;
    }

    &_title {
        font-weight: 700 !important;
        color: #FFFFFF !important;
        font-size: 0.75rem !important;
        padding: 0.25rem 0.5rem !important;
    }
    &_socials {
        display: flex !important;
        gap: 1.5em !important;
    }
}