.tc {
    background-color: #FFFFFF;
    padding: 2em 10% 4em;
    flex-grow: 1;

    &_title {
        font-weight: 700 !important;
        font-size: 1.75rem !important;
        margin-bottom: 0.25em !important;
    }

    &_text {
        font-size: 0.875rem !important;
        margin-top: 0.25em !important;
    }

    &_paragraph {
        margin: 2em 0 0.5em !important;
    }

    &_sub-title {
        font-weight: 700 !important;
        color: #5940C1 !important;
    }

    &_indentation {
        margin-left: 2em !important;
    }

    &_link {
        color: #5940C1 !important;
        font-weight: 700 !important;
    }
}